# Ignore node_modules directory (if you have any frontend code)
node_modules

# Ignore build and publish directories
bin
obj

# Ignore user-specific files
*.user
*.csproj.user
*.suo

# Ignore Rider and Visual Studio files and directories
.idea
.vscode
.vs

# Ignore Docker-related files (if you don't want to include them in the build context)
.dockerignore
docker-compose.yml
Dockerfile

# Ignore logs and temporary files
*.log
*.tmp

# Ignore git-specific folders and files
.git
.gitignore
.gitattributes
